// CSS ASSETS
@import './base/variables';
@import './abstract/global';
@import './functions/mixins';

.App{
    background: $white;
    min-height: 100vh;
    width: 100%;
}

.primary-text{
    font-size: 6rem;
    max-width: 500px;
    word-wrap: break-word;
}

.secondary-text{
    max-width: 550px;
    word-wrap: break-word;
}
